<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <h1 style="text-align: center; color: #286090"><b>Videos Library</b></h1>
      <hr style="background-color: lightgray; height: 1px" />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-3">
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Keyword*</label>
        <input
          [(ngModel)]="search.keyword"
          [ngModelOptions]="{ standalone: true }"
          type="text"
          id="form2Example1"
          class="form-control"
        />
      </div>
    </div>
    <div class="col-lg-3 col-md-3">
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Channel ID</label>
        <input
          [(ngModel)]="search.channelId"
          [ngModelOptions]="{ standalone: true }"
          type="text"
          id="form2Example1"
          class="form-control"
        />
      </div>
    </div>

    <div class="col-lg-3 col-md-3">
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Resource Type</label>
        <select
          [(ngModel)]="search.type"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
        >
          <option value="">Select Type</option>
          <option value="channel">Channel</option>
          <option value="playlist">Playlist</option>
          <option value="video">Video</option>
        </select>
      </div>
    </div>
    <div class="col-lg-3 col-md-3">
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1"
          >Max. Results (1 to 50)*</label
        >
        <input
          [(ngModel)]="search.maxResults"
          [ngModelOptions]="{ standalone: true }"
          type="text"
          id="form2Example1"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-lg-3 col-md-3">
      <button
        [disabled]="
          search.maxResults === '' ||
          search.keyword === '' ||
          search.maxResults > 50
        "
        (click)="searchYT()"
        type="button"
        class="btn btn-primary btn-block mb-4"
      >
        Search video
      </button>
    </div>
  </div>
  <hr style="background-color: lightgray; height: 1px" />
</div>

<div class="container">
  <div class="row">
    <div style="width: 100%">
      <div
        *ngFor="let item of response.items; let i = index"
        class="col-lg-4 col-md-4 videos"
      >
        <div class="card h-100">
          <img
            (click)="openVideo(item.id.videoId)"
            style="width: 100%; height: 250px; cursor: pointer"
            [src]="item.snippet.thumbnails.high.url"
            alt=""
          />

          <div
            (click)="openVideo(item.id.videoId)"
            class="card-body"
            style="cursor: pointer"
          >
            <p class="card-title texttruncate" style="color: #286090">
              <b>{{ item.snippet.title }}</b>
            </p>
          </div>
          <div class="card-footer">
            <span class="float-end"> {{ item.id.kind }} </span>
          </div>
          <br />
          <button
            (click)="share(item)"
            type="button"
            class="btn btn-primary btn-block mb-4"
          >
            Share to channel
            <i class="fas fa-share"></i>
          </button>
        </div>

        <hr style="background-color: lightgray; height: 1px" />
      </div>
    </div>
  </div>
</div>
