<div class="container">

  <div class="row">
    <div class="col-lg-4 col-md-4"></div>
    <div class="col-lg-4 col-md-4 register">
      <h2 style="text-align: center; color: #286090;"><b>Register</b></h2>
      <hr style="background-color: lightgray; height: 1px;">
      <form>
        <div class="form-outline mb-4">
          <input type="text" id="form2Example1" class="form-control" />
          <label class="form-label" for="form2Example1">Name</label>
        </div>

        <div class="form-outline mb-4">
          <input type="text" id="form2Example1" class="form-control" />
          <label class="form-label" for="form2Example1">Surname</label>
        </div>


        <div class="form-outline mb-4">
          <input type="email" id="form2Example1" class="form-control" />
          <label class="form-label" for="form2Example1">Email address</label>
        </div>

        <div class="form-outline mb-4">
          <input type="password" id="form2Example2" class="form-control" />
          <label class="form-label" for="form2Example2">Password</label>
        </div>

        <div class="form-outline mb-4">
          <input type="password" id="form2Example2" class="form-control" />
          <label class="form-label" for="form2Example2">Confirm Password</label>
        </div>



        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4">Register</button>

        <!-- Register buttons -->
        <div class="text-center">
          <p>Already a member? <a routerLink="/login">Login</a></p>
        </div>
      </form>
    </div>
    <div class="col-lg-4 col-md-4"></div>
  </div>


</div>
