<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12" style="text-align: center">
      <img
        style="height: 100%; width: 100%"
        src="../../../assets/images/marvin-meyer-SYTO3xs06fU-unsplash.jpg"
        alt=""
      />
      <br />
      <h2>Welcome to <b style="color: #286090">NaxyShare</b></h2>
      <br />
      <h4>
        The platform that simplifies learning materials sharing and
        collaboration...
      </h4>
    </div>
  </div>
</div>

<div class="container">
  <div style="text-align: center; margin-top: 40px" class="row">
    <h2>What is <b style="color: #286090">NaxyShare?</b></h2>
    <hr style="background-color: lightgray; height: 1px" />
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 column">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <img
            style="width: 100%; height: 100%"
            src="../../../assets/images/videos.jpg"
            alt=""
          />
        </div>
        <div class="col-lg-9 col-md-9">
          <h3 style="color: #286090"><b>Videos</b></h3>
          <br />
          <p>
            Join a chanel and access plenty of videos easily watchable on
            Youtube or acces our videos library and add a to a channel a video
            you will like others to get knowledge from.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 column">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <img
            style="width: 100%; height: 100%"
            src="../../../assets/images/books.jpg"
            alt=""
          />
        </div>
        <div class="col-lg-9 col-md-9">
          <h3 style="color: #286090"><b>Books</b></h3>
          <br />
          <p>
            Join a channel and access plenty of books of various topics or acces
            our books library and add to a channel a book you will like others
            to get knowledge from.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 column">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <img
            style="width: 100%; height: 100%"
            src="../../../assets/images/notes.jpg"
            alt=""
          />
        </div>
        <div class="col-lg-8 col-md-8">
          <h3 style="color: #286090"><b>Notes</b></h3>
          <br />
          <p>
            Access plenty of notes under each and every learning material or add
            some notes/annotations to an existing learning material.
          </p>
          <br />
          <p
            style="
              width: 15%;
              border: 1px solid #ed4646;
              border-radius: 5px;
              padding: 10px;
              background: #ed4646;
              color: white;
              font-weight: 600;
            "
          >
            Coming Soon
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 column">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <img
            style="width: 100%; height: 100%"
            src="../../../assets/images/chatting.jpg"
            alt=""
          />
        </div>
        <div class="col-lg-9 col-md-9">
          <h3 style="color: #286090"><b>Chatrooms</b></h3>
          <br />
          <p>
            Enter a discussion room and discuss with many other users about a
            specific topic or misunderstanding about shared materials.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    style="margin-top: 40px; text-align: center; margin-bottom: 40px"
    class="row"
    *ngIf="userToken == null"
  >
    <button routerLink="/register" class="btn-lg btn-primary">Join Now!</button>
    or
    <button routerLink="/login" class="btn-lg btn-primary">
      Access Your Account
    </button>
  </div>
  <div style="text-align: center; margin-top: 40px" class="row">
    <h2>Our <b style="color: #286090">Team</b></h2>
    <hr style="background-color: lightgray; height: 1px" />
    <div style="width: 100%; display: inline-flex">
      <div
        style="display: block; margin-right: 0; margin-left: 5%"
        *ngFor="let item of teams"
      >
        <img
          *ngIf="!item.picture"
          style="
            height: 180px;
            width: 170px;
            border-radius: 50%;
            margin-bottom: 20px;
          "
          src="../../../assets/images/profile.png"
          alt=""
        />
        <img
          *ngIf="item.picture"
          style="
            height: 180px;
            width: 170px;
            border-radius: 50%;
            margin-bottom: 20px;
          "
          [src]="item.picture"
          alt=""
        />
        <h3>
          <b>{{ item.name }}</b>
        </h3>
        <h4>
          <a *ngIf="item.linkedIn" [href]="item.linkedIn"
            >LinkedIn <i class="fab fa-linkedin"></i
          ></a>
        </h4>
      </div>
    </div>
  </div>
</div>
