<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <h1 style="text-align: center; color: #286090"><b>All Channels</b></h1>
      <hr style="background-color: lightgray; height: 1px" />
    </div>
  </div>

  <div
    class="row"
    style="margin-top: 30px; margin-bottom: 30px"
    *ngIf="channels.length !== 0"
  >
    <div class="col-lg-12 col-md-12">
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Keyword</label>
        <input
          [(ngModel)]="keyword"
          placeholder="Search..."
          (keyup)="search()"
          [ngModelOptions]="{ standalone: true }"
          type="text"
          id="form2Example1"
          class="form-control"
        />
      </div>
    </div>
  </div>

  <div *ngIf="_channels.length > 0" class="row">
    <div
      *ngFor="let channel of _channels; let i = index"
      class="col-lg-4 col-md-4 videos"
    >
      <div class="card h-100 channel">
        <img
          style="width: 100%; height: 100%"
          src="../../../assets/images/naxyshare.png"
          alt=""
        />
        <div class="card-body">
          <h4 class="card-title texttruncate">
            <b>{{ channel.title }}</b>
          </h4>
        </div>
        <div class="card-footer">
          <span class="float-end">
            {{ channel.description }}
          </span>
        </div>
        <br />
        <button
          (click)="joinChannel(channel)"
          type="button"
          class="btn btn-primary btn-block mb-4"
        >
          Join Channel
          <i class="fas fa-sign-in-alt"></i>
        </button>
      </div>

      <hr style="background-color: lightgray; height: 1px" />
    </div>
  </div>

  <div *ngIf="_channels.length == 0 && channels.length > 0" class="row">
    <h5
      style="
        text-align: center;
        font-size: larger;
        color: gray;
        font-style: italic;
      "
    >
      No channel matches your search.
    </h5>
  </div>

  <div *ngIf="channels.length == 0" class="row">
    <h5
      style="
        text-align: center;
        font-size: larger;
        color: gray;
        font-style: italic;
      "
    >
      No joinable channels available at this moment.
    </h5>
  </div>
</div>
